*.bak
/WM_main/__vm
/WM_main/Release
/WM_main/.vs
/WM_main/WM_main.sln
/WM_main/WM_main.vcxproj
/WM_main/WM_main.vcxproj.filters
libraries/Arduino-LiquidCrystal-I2C-library/README.md
libraries/Arduino-LiquidCrystal-I2C-library/keywords.txt
WM_main/Debug/board.buildinfo
WM_main/Debug/MD_MotorDriver.cpp.o
WM_main/Debug/MD_MotorDriver.cpp.d
WM_main/Debug/HM_HeaterModule.cpp.o
WM_main/Debug/HM_HeaterModule.cpp.d
WM_main/Debug/WM_main.partitions.bin
WM_main/Debug/WM_main.ino.partitions.bin
WM_main/Debug/WM_main.ino.elf
WM_main/Debug/WM_main.ino.bin
WM_main/Debug/WM_main.elf
WM_main/Debug/WM_main.cpp.o
WM_main/Debug/WM_main.cpp.d
WM_main/Debug/VM_DBG/VM_mem_check_sam.cpp.d
WM_main/Debug/VM_DBG/VM_DBG.cpp.o
WM_main/Debug/WM_main.bin
WM_main/Debug/VM_DBG/VM_mem_check_sam.cpp.o
WM_main/Debug/VM_DBG/VM_DBG.cpp.d
libraries/LiquidCrystal_I2C/keywords.txt
libraries/LiquidCrystal_I2C/README.md
