*.bak
/WM_main/__vm
/WM_main/Release
/WM_main/.vs
/WM_main/WM_main.sln
/WM_main/WM_main.vcxproj
/WM_main/WM_main.vcxproj.filters
libraries/Arduino-LiquidCrystal-I2C-library/README.md
libraries/Arduino-LiquidCrystal-I2C-library/keywords.txt
WM_main/Debug/board.buildinfo
WM_main/Debug/MD_MotorDriver.cpp.o
WM_main/Debug/MD_MotorDriver.cpp.d
WM_main/Debug/HM_HeaterModule.cpp.o
WM_main/Debug/HM_HeaterModule.cpp.d
WM_main/Debug/WM_main.partitions.bin
WM_main/Debug/WM_main.ino.partitions.bin
WM_main/Debug/WM_main.ino.elf
WM_main/Debug/WM_main.ino.bin
WM_main/Debug/WM_main.elf
WM_main/Debug/WM_main.cpp.o
WM_main/Debug/WM_main.cpp.d
WM_main/Debug/VM_DBG/VM_mem_check_sam.cpp.d
WM_main/Debug/VM_DBG/VM_DBG.cpp.o
WM_main/Debug/WM_main.bin
WM_main/Debug/VM_DBG/VM_mem_check_sam.cpp.o
WM_main/Debug/VM_DBG/VM_DBG.cpp.d
libraries/LiquidCrystal_I2C/keywords.txt
libraries/LiquidCrystal_I2C/README.md
WM_main/WM_main.v11.suo
~WRL2963.tmp
~$zzCamp.docx
WM_main/Debug/MotorDriver.cpp.o
WM_main/Debug/MotorDriver.cpp.d
WM_main/Debug/LiquidCrystal_I2C.cpp.o
WM_main/Debug/LiquidCrystal_I2C.cpp.d
WM_main/Debug/LED.cpp.o
WM_main/Debug/LED.cpp.d
WM_main/Debug/LCDDisplay.cpp.o
WM_main/Debug/ControlButton.cpp.o
WM_main/Debug/ControlButton.cpp.d
UsefulThings/WhatIsPWM/Thumbs.db
UsefulThings/WhatIsHBridge/Thumbs.db
UsefulThings/Thumbs.db
WM_main/Debug/LCDDisplay.cpp.d
WM_main/Debug/DHT_U.cpp.o
WM_main/Debug/DHT_U.cpp.d
WM_main/Debug/DHT.cpp.o
WM_main/Debug/DHT.cpp.d
WM_main/Debug/ControlPanel.cpp.o
WM_main/Debug/ControlPanel.cpp.d
WM_main/Debug/Wire/Wire.cpp.o
WM_main/Debug/Wire/Wire.cpp.d
WM_main/Debug/TwinDos.cpp.o
WM_main/Debug/TwinDos.cpp.d
WM_main/Debug/Sound.cpp.o
WM_main/Debug/Sound.cpp.d
WM_main/Debug/Potentiometer.cpp.o
WM_main/Debug/Potentiometer.cpp.d
WM_IDF/.vscode/settings.json
WM_IDF/.vscode/launch.json
WM_IDF/.vscode/BROWSE.VC.DB-shm
WM_IDF/.vscode/BROWSE.VC.DB
WM_IDF/.project
WM_IDF/make.exe.stackdump
WM_IDF/.vscode/tasks.json
WM_IDF/.vscode/c_cpp_properties.json
WM_IDF/.settings/org.eclipse.cdt.core.prefs
WM_IDF/.cproject
WM_IDF/.settings/language.settings.xml
WM_IDF/.vscode/BROWSE.VC.DB-wal
